@model school.Models.Asignatura

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<h4>Asignatura</h4>
<p></p>
<hr />
<div class="row">
    <div class="col-md-7">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="hora" class="control-label"></label>
                <input asp-for="hora" class="form-control" />
                <span asp-validation-for="hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wekend" class="control-label"></label>
                @Html.DropDownList(
                    "wekend", Html.GetEnumSelectList<Wekend>(),
                    "wekend",
                    new {@class = "form-control text-danger"}
                )
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary create" />
            </div>
        </form>
    </div>
</div>

<div class="bcklist">
    <a asp-action="Index"><i class="bi bi-arrow-left-square-fill"></i> Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
