<footer class="">
    <div class="container">

        <strong> &copy; 2023 </strong> 
        <p> ÁNGEL ORTEGA </p> 
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        <p > <a href="https://github.com/AngelOrtega-dev">Developer</a></p>
    </div>
</footer>